/* 文字主色调 */
.text-main {
	color: #87ceeb;
}
.text-main-hover {
	color: #21AFED;
}
.text-main-disable {
	color: #C9C8C6;
}
/* 背景主色调 */
.bg-main {
	background-color: #87ceeb;
}
.bg-main-hover {
	background-color: #21AFED;
}
.bg-main-disable {
	background-color: #C9C8C6;
}
.bg-deliver-single {
	background-color: #007AFF;
}
.bg-deliver-series{
	background-color: #FA7298;
}
/* 背景单击后色调 */
.bg-primary-hover {
	background-color: #A9A5A0;
}
/* 行高 */
.line-h {
	line-height: 1.2;
}
/* 分割线 */
.f-divider {
	background-color: #F5F5F4;
	height: 20rpx;
}
/* 盒模型转变 */
.border-box {
	box-sizing: border-box!important;
}
/* 边框颜色 */
.border-main {
	border: 1rpx solid #87ceeb;
}